{% extends 'base.html.twig' %}

{% block title %}Ingredient index{% endblock %}

{% block body %}

    <div class="container-fluid pl-5">
        <div class="card">
            <h1 class="card-header">Liste Ingredient</h1>
            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Libelle</th>
                        <th>Quantite</th>
                        <th>CreatedAt</th>
                        <th>UpdatedAt</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
					{% for ingredient in ingredients %}
                        <tr>
                            <td>{{ ingredient.id }}</td>
                            <td>{{ ingredient.libelle }}</td>
                            <td>{{ ingredient.quantite }}</td>
                            <td>{{ ingredient.createdAt ? ingredient.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ ingredient.updatedAt ? ingredient.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                            <td>
                                <a href="{{ path('ingredient_show', {'id': ingredient.id}) }}">show</a>
                                <a href="{{ path('ingredient_edit', {'id': ingredient.id}) }}">edit</a>
                            </td>
                        </tr>
					{% else %}
                        <tr>
                            <td colspan="6">no records found</td>
                        </tr>
					{% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <a class="btn btn-success" href="{{ path('ingredient_new') }}">Nouveau</a>
            </div>
        </div>
    </div>

{% endblock %}
