{% extends 'base.html.twig' %}

{% block title %}FormuleDetail index{% endblock %}

{% block body %}
    <h1>FormuleDetail index</h1>

    <table class="table table-striped table-bordered tb-liste">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantite</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for formule_detail in formule_details %}
            <tr>
                <td>{{ formule_detail.id }}</td>
                <td>{{ formule_detail.quantite }}</td>
                <td>
                    <a href="{{ path('formule_detail_show', {'id': formule_detail.id}) }}">show</a>
                    <a href="{{ path('formule_detail_edit', {'id': formule_detail.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('formule_detail_new') }}">Create new</a>
{% endblock %}
