{{ form_start(form) }}
    {{ form_widget(form) }}
    <div id="details"></div>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
{{ encore_entry_script_tags('details') }}
