{% extends 'base.html.twig' %}

{% block title %}Entite{% endblock %}

{% block body %}

    <div class="container-fluid pl-5">
        <div class="card">
            <h1 class="card-header">Editer entité</h1>
            <div class="card-body">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ entite.id }}</td>
                    </tr>
                    <tr>
                        <th>Libelle</th>
                        <td>{{ entite.libelle }}</td>
                    </tr>
                    <tr>
                        <th>Code</th>
                        <td>{{ entite.code }}</td>
                    </tr>
                    <tr>
                        <th>CreateAt</th>
                        <td>{{ entite.createAt ? entite.createAt|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>UpdatedAt</th>
                        <td>{{ entite.updatedAt ? entite.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <a class="btn btn-info" href="{{ path('entite_index') }}">Retour à la liste</a>
                <a class="btn btn-success" href="{{ path('entite_new') }}">Nouveau</a>
                <a class="btn btn-warning" href="{{ path('entite_edit', {'id': entite.id}) }}">edit</a>
            </div>
        </div>
    </div>

    {{ include('entite/_delete_form.html.twig') }}
{% endblock %}
